<nav id="body-nav" {{bind-attr class="isActived:menu-active"}}>
  <div><a href="https://soundcloud.com/oska-faro">OSKA FARO</a></li>
  <div><a href="https://soundcloud.com/softglas">Soft Glas</a></li>
</nav>

<div class="container" {{bind-attr class="isActived:menu-active"}}>
  <div class="title" {{bind-attr class="isActived:menu-active"}}><div id="logo"></div></div>
  <div class="menu-links">
    <div class="link"><a href="http://canvasclubcc.tumblr.com/">Visuals</a></div>
    <div class="link divider"> / </div>
    <div class="link"><a href="" {{action "clickedSounds"}}>Sounds</a></div>
    <div class="link divider"> / </div>
    <div class="link"><a href="mailto:Canvasclub.cc@gmail.com">Connect</a></div>
  </div>


    <div class="youtube-container">
      <iframe frameborder="0" height="100%"
        src="https://youtube.com/embed/7eIJRwjBVoc?autoplay=0&controls=0&loop=1&showinfo=0&autohide=1&VQ=HD1080">
      </iframe>
    </div>

<div class="btn btn-download"><a href="https://gum.co/KdhT">Download "Shoes"</a></div>
  {{!-- <div class="btn btn-download" {{action 'downloadPressed'}}><a href="https://gum.co/KdhT">Download "Shoes"</a></div> --}}

</div>
{{!-- {{outlet}} --}}
